body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


nav ul.menu  {
    list-style: none; 
  margin: 0 auto;
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
nav .menu li {
  float: left;
}
nav .menu a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
nav .menu a:hover {
    background: #ADC0CE;
}

.content {
    padding: 0px 15px 20px 15px;
}

a.word {
    padding-right: 10px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

alerts.less:13
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}